.tbl {
    width:100%;
}
.tbl tr {
    height:30px;
    line-height:30px;
}
.tbl tr td {
    width:25%;
}
.buttons {
    width:300px;
    height:58px;
    margin:0 auto;
    text-align:center;
}
input[type='button'],input[type='submit']
{
    color:#000;
    border:2px solid #cf5555;
    background-color:#fff;
    font-size:13px;
    font-family:Consolas,sans-serif;
    padding:6px 12px;
    text-align:center;
    display:inline-block;
    border-radius:5px;
    text-decoration:none;
    cursor:pointer;
    transition-duration:0.3s;
}
input[type='button']:hover,input[type='submit']:hover
{
    color:#fff;
    background-color:#cf5555;
}