body {
    background: #fff url(/Images/bg-grey-stripe.png) repeat top left;
}
h1{
    color:#CD1637;
    text-align:center;
    letter-spacing:4px;
    font-family:'Microsoft YaHei';
}
input[type='text'] {
    width:100px;
    height:22px;
    padding:3px 8px;
    border:none;
    border-bottom:1px solid #CD1637;
    background-color:transparent;
    font-family:Consolas,'Microsoft YaHei',sans-serif;
    font-size:14px;
    outline:none;
}
select {
    border:1px solid #ccc;
    /*width:90px;*/
    height:30px;
    font-family:'Microsoft YaHei';
    font-size:15px;
}
select option {
    text-align:center;
}
.tbl {
    width:100%;
    border-collapse:collapse;
    border:1px solid #ddd;
    /*background-color:#fff;*/
}
.tbl tr {        
    background-color:#F1F4F9;
}
.tbl tr td {
    height:28px;
    line-height:28px;
    border:1px solid #ddd;
    text-align:center;
}
.tbl tr th {
    height:32px;
    line-height:32px;
    color:#fff;
    border:1px solid #ddd;
    background-color:#666;
}
.tbl tr:not(:first-child):hover {
    background-color:#eae5e5;
}
.tbl tr.odd {
    background-color:#d0dee5;
}
.tbl tr.alt2 {
    background-color:#F8F0F0;
}
.tbl tr.over {
    background: #EBEBE8; /*这个将是鼠标高亮行的背景色*/
}
.mya
{
    color:#000;
    border:1px solid #cf5555;
    background-color:#fff;
    font-size:13px;
    font-family:Consolas,sans-serif;
    padding:10px 14px;
    text-align:center;
    display:inline-block;
    border-radius:3px;
    text-decoration:none;
    cursor:pointer;
    transition-duration:0.3s;
}
.mya:hover
{
    color:#fff;
    background-color:#cf5555;
}
.row {
    width:96%;
    height:40px;
    line-height:40px;
    margin:0 auto;
}
.row .left {
    width:30%;
    float:left;
}
.row .left .lbl {
    width:30%;
    text-align:right;
    float:left;
}
.row .left .txt {
    width:60%;
    text-align:left;
    float:left;
}
.row .right {
    width: 30%;
    float: left;
}
.row .right .lbl {
    width:30%;
    text-align:right;
    float:left;
}
.row .right .txt {
    width:60%;
    text-align:left;
    float:left;
}

.aspNetPager {
    height: 30px;
    line-height: 30px;
    float: right;
}

    .aspNetPager span {
        display: inline;
    }

    .aspNetPager label {
        margin: 5px;
    }

    .aspNetPager input[type="text"] {
        width: 35px;
    }

    .aspNetPager input[type="submit"] {
        cursor: pointer;
    }

    .aspNetPager label {
        width: 45px;
    }

#AspNetPager {
    width: auto;
    height:32px;
    float: left;
    margin-right: 10px;
}

.pagination {
    margin-top: 1px 2px;
    float: right;
}

.pagination a[disabled] {
    color: #777;
    cursor: not-allowed;
    border-color: #ddd;
    float: left;
}

.pagination span.active {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination ul li.active {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination ul li {
    list-style: none;
    float: left;
    padding: 2px 7px;
    margin: 1px -1px;
    border: 1px solid #337ab7;
    background-color: #e1e0e0;
}