body {
    font-family:Consolas,SimSun;
}
#cblst label {
    width:50px;
    display:inline-block;
}
#gvSpcQlt tr:not(:first-child):hover {
    /*background-color:#eae5e5;*/
}
input[type="text"],input[type="email"] {
    width:120px;
    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-size-adjust:none;margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    /*border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;*/
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    /*background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:8px;*/
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
}
.button {
    width:70px;
    height:28px;
    border:1px solid #808080;
    background-color:#f0f0f0;
    font-family:'Microsoft YaHei';
    cursor:pointer;
}