Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/FileZillaServerWeb/Log
/FileZillaServerWeb/Log/2018-06-04.txt
/FileZillaServerWeb/Log/2017-03-08.txt
/FileZillaServerWeb/Log/2017-03-09.txt
/FileZillaServerWeb/Log/2017-03-10.txt
/FileZillaServerWeb/Log/2017-03-11.txt
/FileZillaServerWeb/Log/2017-03-12.txt
/FileZillaServerWeb/Log/2017-03-13.txt
/FileZillaServerWeb/Log/2017-03-14.txt
/FileZillaServerWeb/Log/2017-03-15.txt
/FileZillaServerWeb/Log/2017-03-16.txt
/FileZillaServerWeb/Log/2017-03-21.txt
/FileZillaServerWeb/Log/2017-03-25.txt
/FileZillaServerWeb/Log/2017-04-01.txt
/FileZillaServerWeb/Log/2017-04-12.txt
/FileZillaServerWeb/Log/2017-04-13.txt
/FileZillaServerWeb/Log/2017-04-14.txt
/FileZillaServerWeb/Log/2017-04-16.txt
/FileZillaServerWeb/Log/2017-04-17.txt
/FileZillaServerWeb/Log/2017-04-18.txt
/FileZillaServerWeb/Log/2017-04-27.txt
/FileZillaServerWeb/Log/2017-05-05.txt
/FileZillaServerWeb/Log/2017-05-06.txt
/FileZillaServerWeb/Log/2017-05-08.txt
/FileZillaServerWeb/Log/2017-05-09.txt
/FileZillaServerWeb/Log/2017-05-11.txt
/FileZillaServerWeb/Log/2017-05-12.txt
/FileZillaServerWeb/Log/2017-05-14.txt
/FileZillaServerWeb/Log/2017-05-15.txt
/FileZillaServerWeb/Log/2017-05-16.txt
/FileZillaServerWeb/Log/2018-03-11.txt
/FileZillaServerWeb/Log/2018-03-14.txt
/FileZillaServerWeb/Log/2018-03-15.txt
/FileZillaServerWeb/Log/2018-04-25.txt
/FileZillaServerWeb/Log/2018-05-02.txt
/FileZillaServerWeb/Log/2018-05-04.txt
/FileZillaServerWeb/Log/2018-06-03.txt
